<!-- -*- mode: XML -*- -->
<launch>
	<!-- LAUNCH INTERFACE -->
	
	<!-- in case you have different robot configurations -->
	<arg name="robot_name" default="kuka_robot"/>

	<!-- the default is the simulator -->
	<arg name="use_lwr_sim" default="true"/>
	
	<!-- set some ros tools -->
	<arg name="use_rviz" default="false"/>
	<arg name="gui" default="false" />

	<!-- LAUNCH IMPLEMENTATION -->

	<!-- the urdf/sdf parameter -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find kuka_robot)/robot/$(arg robot_name).urdf.xacro"/>
	
	<!-- joint and robot state publishers of the full robot description -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">[/kuka/joint_states]</rosparam>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	<group if="$(arg use_rviz)">
		<node name="lwr_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find kuka_launch)/launch/rviz_config.rviz" output="screen"/>
	</group>

	<!-- robot simulation uses the full robot description -->
	<group if="$(arg use_lwr_sim)">
		<!-- spawn the robot in gazebo -->
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name)"  respawn="false" output="screen" />

		<!-- enable/disable gui at will, the rviz listens to the simulation -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find kuka_robot)/worlds/simple_environment.world"/>
			<arg name="paused" value="false"/>
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="true"/>
			<arg name="headless" value="false"/>
			<arg name="debug" value="false"/>

		</include>
	</group>

	<!-- ros_control kuka launch file -->
	  <include file="$(find kuka_launch)/launch/kuka_control.launch" />

</launch>
